python/.venv/
python/input_videos/*
!python/input_videos/.gitkeep
python/frames/*
!python/frames/.gitkeep
python/depth_maps/*
!python/depth_maps/.gitkeep
python/depth_maps_normalized/
python/checkpoints/*.pth
python/checkpoints/*.tmp
python/scripts/__pycache__/

unity/Library/
unity/Temp/
unity/Obj/
unity/Build/
unity/Builds/
unity/Logs/
unity/UserSettings/
unity/.vs/
unity/*.csproj
unity/*.sln
